<% layout('layouts/sidebar') %>

<div class="row justify-content-md-center">
  <div class="col-4">
    <h1 id="date"></h1>
  </div>
</div>

<!-- Buttons -->
<div class="row justify-content-md-center">
  <div class="col-5">
    <div class="btn-group" role="group">
      <button id="prev" class="btn btn-primary">Prev</button>
      <button id="next" class="btn btn-primary">Next</button>
      <button id="day" class="btn btn-success">Day</button>
      <button id="week" class="btn btn-success">Week</button>
      <button id="month" class="btn btn-success">Month</button>
    </div>
  </div>
</div>


<!-- Calendar -->
<div id="calendar" style="height: 800px;"></div>

